{% extends "base.html" %} {% block title %}About Us{% endblock %} {% block
content %}
<div class="container__texto aboutTitle">
  <h1>Who we are</h1>
</div>
<section class="container about">
  <img
    class="container__imagem imagem__autores"
    src="../static/images/graziani.jpg"
  />
  <div class="container__texto aboutText">
    <p>
      <b>Graziâni Candiotto</b> has a BSc, MSc and PhD in Physics by
      <a class="links" href="https://ufsc.br/">UFSC</a>. He is currently a
      researcher at UFRJ's Physics Department and a member of the NAMOR
      (Nanoscience Modelling in Rio) group. Has experience in Condensed Matter
      Physics, Statistical and Quantum Mechanics, as well as in Machine Learning
      and Materials Science. He also develops high performance software that
      describes OFEDs and pharmacokinetics.
    </p>

    <div class="wrapper">
      <img class="aboutText__sprites" src="../static/images/lattes.png" />
      <a class="links" href="https://lattes.cnpq.br/4362978184352541"
        >Graziâni Candiotto</a
      ><br />
    </div>

    <div class="wrapper">
      <img class="aboutText__sprites" src="../static/images/gh.png" />
      <a class="links" href="https://github.com/gcandiotto">gcandiotto</a><br />
    </div>

    <div class="wrapper">
      <img class="aboutText__sprites" src="../static/images/orcid.png" />
      <a class="links" href="https://orcid.org/0000-0001-6755-660X"
        >G. CANDIOTTO</a
      >
    </div>
  </div>

  <img
    class="container__imagem imagem__autores"
    src="../static/images/leandro.jpg"
  />
  <div class="container__texto aboutText">
    <p>
      <b>Leandro Benatto</b> holds a Bachelor's, Master's, and PhD degree in
      Physics from
      <a class="links" href="https://www.ufpr.br/portalufpr/">UFPR</a>.
      Currently, he is a FAPERJ Postdoctoral Fellow who is primarily focused on
      the study of new organic materials for use in optoelectronic devices. With
      extensive knowledge in Python programming, he has also developed software
      for analyzing lab results and simulating experiments. With his expertise
      in both physics and programming, Leandro is well-equipped to tackle
      complex research problems in the field of optoelectronics.
    </p>

    <div class="wrapper">
      <img class="aboutText__sprites" src="../static/images/lattes.png" />
      <a class="links" href="https://lattes.cnpq.br/6623865899586359"
        >Leandro Benatto</a
      ><br />
    </div>

    <div class="wrapper">
      <img class="aboutText__sprites" src="../static/images/gh.png" />
      <a class="links" href="https://github.com/LeandroBenatto"
        >LeandroBenatto</a
      ><br />
    </div>

    <div class="wrapper">
      <img class="aboutText__sprites" src="../static/images/orcid.png" />
      <a class="links" href="https://orcid.org/0000-0001-9976-3574"
        >L. BENATTO</a
      >
    </div>
  </div>

  <img
    class="container__imagem imagem__autores"
    src="../static/images/omar.jpg"
  />
  <div class="container__texto aboutText">
    <p>
      Hi! My name is <b>Omar Mesquita</b> and I am the developer and
      administrator of this website and its web applications. I am currently
      studying Computer Science at
      <a class="links" href="https://ufrj.br/en/">UFRJ</a> where I work as a
      junior researcher at the Physics Department. Feel free to contact me at my
      <a class="links" href="mailto:omarmesquita@eq.ufrj.br">email</a>
      or social networks :)
    </p>
    <div class="wrapper">
      <img class="aboutText__sprites" src="../static/images/linkedin.png" />
      <a class="links" href="https://www.linkedin.com/in/omar-mesquita/"
        >Omar Mesquita</a
      ><br />
    </div>

    <div class="wrapper">
      <img class="aboutText__sprites" src="../static/images/gh.png" />
      <a class="links" href="https://github.com/OmarMesqq">OmarMesqq</a><br />
    </div>

    <div class="wrapper">
      <img class="aboutText__sprites" src="../static/images/orcid.png" />
      <a class="links" href="https://orcid.org/0000-0002-6656-5683"
        >O. MESQUITA</a
      >
    </div>
  </div>

  <img
    class="container__imagem imagem__autores"
    src="../static/images/jose.jpeg"
  />
  <div class="container__texto aboutText">
    <p>
      Hello! My name is <b>José Furtado</b> and I am studying Chemical
      Engineering at <a class="links" href="https://ufrj.br/en/">UFRJ</a> I am
      currently working as a junior researcher at the Physics Department, where
      I'm studying programming to eventually be able to do more complex tasks in
      our research.<br /><br />
    </p>

    <div class="wrapper">
      <img class="aboutText__sprites" src="../static/images/lattes.png" />
      <a class="links" href="http://lattes.cnpq.br/3431643449287068"
        >José Furtado</a
      ><br />
    </div>
    <div class="wrapper">
      <img class="aboutText__sprites" src="../static/images/gh.png" />
      <a class="links" href="https://github.com/Chimbalada">José Furtado</a
      ><br />
    </div>
  </div>
</section>
{% endblock %}
