{% extends "base.html" %}
{% block title %}Input error!{% endblock %}
{% block content %}
<div class="container fret" style="margin: 5em; display: block;">
  <h1>That's an input error!</h1>
  <h3>
    {% if data.error == "file_type" %} 
      The {{ data.file_name }} needs a {{data.expected_ext }} extension.
    {% elif data.error == "file_count" %}
      Too many csv files. Maximum allowed is 10. 
    {% elif data.error == "file_misformat" %}
     The uploaded files are not correctly formatted.<br> 
     Please take a look at the data sample and format your data accordingly. 
    {% endif %}
  </h3>
  <h3>
    Don't worry.
    <a class="links" href="{{ url_for('welcome') }}{{ data.redirect }}"
      >Let's try again</a
    >.
  </h3>
</div>
{% endblock %}
